{extend name="public:index"}
{block name="title"}User list{/block}
{block name="index"} 
<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" text-align="center">
	<thead class="panel panel-primary ">
	<tr class="text-c">
         <th width="50">ID</th> 
         <th width="50">Name</th>
         <th width="60">Status</th>
         <th width="60">Action</th>
         </tr>
	  </thead>
	  <tbody>
	      {foreach name='data' item="row"}
	    <tr class="text-c">
	      <td>{$row['id']}</td>
	      <td>{$row['name']}</td>
	      <td>{$row['status']}</td>
	     <td class="h"><a href="/user/edit/id/{$row['id']}">edit</a></td>
	    </tr>
	    {/foreach}
	    </tbody>
	  </table>
  <script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "asc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aLengthMenu":[1,2,3,4,5,6,7,8,9,10],
	"sPaginationType":"full_numbers",
	"aoColumnDefs": [
	  // {"bVisible": false, "aTargets": [ 0 ]} //控制列的隐藏显示
	  {"orderable":false}// 不参与排序的列
	]
});
</script> 

























{/block}        