{extend name="public:index"}
{block name="title"}Transactions{/block}
{block name="index"}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
<style>
	.aa a{color:blue;}
    .zz{width:450px;height:25px;border:1px solid #DCDCDC;}
    .zz:focus{outline:none; border: 1px solid #9BD6EB;}
    .bb{margin:10px 0px}
    .cc{color:red;}
    .dd a{color:blue;}
    .select{width:450px;height:25px;}
    .inp{width:100px;height:30px;background-color:#17427A;color:white;border:0px;}
    .in{width:100px;height:30px;background-color:#17427A;color:white;border:0px;margin-top:20px;}
    .p{display: inline-block;border-radius:5px;background-color:#EBEBEB;margin-top:30px;height:25px;}
    .p a{text-decoration: none;color:#07467C;}
     #kn-modal-bg-0{
        display: block;
    }
     #kn-modal-bg-1{
        display: block;
    }
     #kn-modal-bg-2{
        display: block;
    }
     #kn-modal-bg-3{
        display: block;
    }
     #kn-modal-bg-4{
        display: block;
    }
     #kn-modal-bg-5{
        display: block;
    }
     #kn-modal-bg-6{
        display: block;
    }
    .none{
        display: none!important;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #f1d632;
    background: #f9e67b url(images/ui-bg_inset-hard_100_f9e67b_1x100.png) 50% bottom repeat-x;
    color: #363636;
    margin-top: 0;
    height: 100%;
    }
    .clear{ clear:both}
}
.clear{ clear:both}
</style>
</head>
  <link rel="stylesheet" href="/index/bs/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script stc="/index/bs/js/bootstrap.min.js"></script>
    <script stc="/index/bs/js/holder.min.js"></script>
    <link rel="stylesheet" href="https://cdn1.cloud-database.co/renderer/css/v2/renderer_75135483540aaccb2eaa7a5faba92739f3cb510d.v2.min.css">
    <script src="/index/jquery-1.8.3.min.js"></script>
<body>
	<p class="aa"><a href="/tran/index">Transactions</a>><a href="/tran/add">Incoming EFT</a></p>
	<span class="p"><a href="/tran/add">Add Incoming EFT</a></span>
  	<span class="p"><a href="/tran/ad">Add Outgoing EFT</a></span>
  	<span class="p"><a href="/tran/dd">Add Currency Exchange</a></span>
  	<span class="p"><a href="/tran/ss">Generate Invoice</a></span>
	<h4><b>Currency Exchange</b></h4>
	<form class="form form-horizontal" id="form-admin-add" action="/tran/insert" method="post" enctype="multipart/form-data">
	<div class="kn-message is-error" style="display: none;"><a class="close delete"></a>
        </div>
    <div style="float:left">
    <p class="bb"><b>Trans. Date <span class="cc">*</span></b></p>
    <p class="all" data="Trans. Date"><input type="text" id="datepicker" name="start"  class="zz" ></p>
    <p ><input type="text" name="star"  class="zz" id="time" ></p>
    <p class="bb"><b>Settlement Date <span class="cc">*</span></b></p>
    <p class="all" data="Settlement Date"><input id="datepicker2" type="text" name="end"  class="zz" ></p>
    </div>
    <div style="float:right">
    <p class="bb"><b>Trans. Number <span class="cc">*</span></b></p>
    <p class="all" data="Trans. Number"><input type="text" name="number"  class="zz" ></p>
    <p class="bb"><b>Location  <span class="cc">*</span></b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="place" style="vertical-align: bottom;" class="select">
        <option value="1">Windermere Road Office</option>
        <option value="2">Branch on 97 St. NW</option>
        <option value="3">Office on 106 St.</option>
    </select></p>
    <p class="bb"><b>IB Code <span class="cc">*</span></b></p>
    <p ><input type="text" name="code"  class="zz" ></p>
    <p class="bb"><b>Customer type  <span class="cc">*</span></b></p>
    <p><select class="select" name="typ" size="1">
        <option value="1">Individual</option>
        <option value="2">Business</option></select></p>
    </div>
    <div class="clear"></div>

    <h4>Information about the funds we received as EFT</h4>
    <div style="float:left">
    <p class="bb"><b>Bank of origin </b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="origin" style="vertical-align: bottom;" class="select">
        {foreach name="a" item="row"}
        <option value="{$row['id']}">{$row['name']}&nbsp;{$row['street']}&nbsp;{$row['city']}&nbsp;{$row['state']}</option>
        {/foreach}
    </select></p>

    <p><a id="bth" style="color:blue">Add a new option</a></p>

    
    <p class="bb"><b>Currency received  <span class="cc">*</span></b></p>
    <p><select data-placeholder="Select" id="view_50-field_9" name="types" style="vertical-align: bottom;" class="select">
         {foreach name="b" item="row"}
        <option value="{$row['id']}">{$row['name1']}</option>
        {/foreach}
    
    </select></p>

    <p><a id="bth1" style="color:blue">Add a new option</a></p>
    </div>
    <div style="float:right">
    <p class="bb"><b>Bank account number </b></p>
    <p><input type="text" name="account"  class="zz" ></p>
    <p class="bb"><b>Sender </p>
    <p><select data-placeholder="Select" id="view_50-field_7" name="typz" style="vertical-align: bottom;" class="select">
         {foreach name="typz" item="row"}
        <option value="{$row['id']}">{$row['namex']}&nbsp;&nbsp;{$row['nam']}</option>
        {/foreach}
    </select></p>

    <p><a id="bth2" style="color:blue">Add a new option</a></p>

    <p class="bb"><b>Does the sender have a 3rd party?  </b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="tyx" style="vertical-align: bottom;" class="select">
        <option value="7" onclick="onc()">No</option>
        <option value="8" onclick="onc2()">Yes</option>
    </select></p>
    <div class="none no">
    <p class="bb"><b>Sender's 3rd party  </b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="tya" style="vertical-align: bottom;width:450px;height:25px">
        {foreach name="tya" item="row"}
        <option value="{$row['id']}">{$row['namea']}</option>
        {/foreach}
    </select></p>
    
    </div>
    </div>
    <div class="clear"></div>

    <p class="bb"><b>Amount received </b></p>
    <p><input type="text" name="received"  class="zz" ></p>
    <p class="bb"><b>Received as </b></p>
    <p><select data-placeholder="Select" id="view_50-field_8" name="typex" style="vertical-align: bottom;" class="select">
        
       {foreach name="c" item="row"}
        <option value="{$row['id']}">{$row['name']}</option>
        {/foreach}
    
    </select></p>

    <p><a id="bth3" style="color:blue">Add a new option</a></p>

    <p>Description</p>
    <p><textarea rows="7" cols="100" name="descibe"></textarea></p>

    <h4><b>Funds we disbursed to the customer</b></h4>
    <p class="bb"><b>Currency disbursed <span class="cc">*</span></b></p>
    <p><select data-placeholder="Select" id="view_50-field_14" name="typea" style="vertical-align: bottom;" class="select">
        {foreach name="d" item="row"}
        <option value="{$row['id']}">{$row['name']}</option>
        {/foreach}
    
    </select></p>

    <p><a id="bth4" style="color:blue">Add a new option</a></p>

    <p class="bb"><b>Exchange rate <span class="cc">*</span></b></p>
    <p class="all" data="Exchange rate"><input type="text" name="rate"  class="zz" ></p>
    <p class="bb"><b>Amount disbursed <span class="cc">*</span></b></p>
    <p class="all" data="Amount disbursed"><input type="text" name="money"  class="zz" ></p>
    <p class="bb"><b>Disbursed as <span class="cc">*</span></b></p>
    <p><select data-placeholder="Select" id="view_50-field_13" name="typez" style="vertical-align: bottom;" class="select">
       {foreach name="e" item="row"}
        <option value="{$row['id']}">{$row['name']}</option>
        {/foreach}
    
    </select></p>

    <p><a id="bth5" style="color:blue">Add a new option</a></p>

    <p>Description</p>
    <p><textarea rows="7" cols="100" name="descibes"></textarea></p>

    <h4><b>Fees charged</b></h4>
    <p class="bb"><b>Status  <span class="cc">*</span></b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="status" style="vertical-align: bottom;" class="select">
        <option value="1">New</option>
        <option value="2">Assessed</option>
        <option value="3">Filed</option>
    </select></p>
    <p class="bb"><b>Amount received </b></p>
    <p><input type="text" name="charge"  class="zz" ></p>
    <p class="bb"><b>Paid as </b></p>
    <p><select data-placeholder="Select" id="view_50-field_275" name="typek" style="vertical-align: bottom;" class="select">
        {foreach name="f" item="row"}
        <option value="{$row['id']}">{$row['name']}</option>
        {/foreach}
    
    </select></p>

    <p><a id="bth6" style="color:blue">Add a new option</a></p>

    <p>Description</p>
    <p><textarea rows="7" cols="100" name="descibea"></textarea></p>

    <h4><b>CAD Amount</b></h4>
    <p class="bb"><b> <span class="cc">*</span></b></p>
    <p class="all" data="CAD Amount"><input type="text" name="moneys"  class="zz" ></p>
    <p class="bb"><b>Transaction type  </b></p>
    <p><select data-placeholder="Select" id="view_50-field_274" name="type" style="vertical-align: bottom;" class="select">
        <option value="1">EFTI</option>
        <option value="2">FX</option>
    </select></p>
    <p>This is the CAD equivalent of the transaction value. If the amount received or amount disbursed is in CAD, enter the same value here. If neither is in CAD, calculate the CAD value of the transaction and enter here</p>
    <p class="bb"><b>OSFI Match? </b></p>
    <p><select data-placeholder="Select" id="view_50-field_322" name="typeo" style="vertical-align: bottom;" class="select">
    
        <option value="1" >Not reviewed</option>
    
        <option value="2">No</option>
    
        <option value="3">Yes</option>
    
    </select></p>
    <p class="bb"><b> AML questions</b></p>
    <p>Mandatory for EFTs over $5,000 CAD</p>
    <p class="bb"><b> Source of Funds</b></p>
    <p>i.e. regular income, proceeds of lottery winnings, proceeds of a house sale</p>
    <p><textarea rows="7" cols="100" name="descibee"></textarea></p>
    <p class="bb"><b> Purpose of Transaction</b></p>
    <p>i.e. purchase of a house, supporting family</p>
    <p><textarea rows="7" cols="100" name="descibex"></textarea></p>
    <p>Additional notes</p>
    <p><textarea rows="7" cols="100" name="descibec"></textarea></p>
    <p><button class="inp">submit</button></p>
    </form>
    <p class="dd"><a href="/tran/index">Back to Transactions</a></p>
    
    <div id="kn-modal-bg-0" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add Financial Institution</h1>
    <div class="delete close-modal"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <p class="bb"><b>Name of the bank  <span class="cc">*</span></b></p>
    <p class="all" data="Name of the bank"><input type="text" name="name"  class="zz" id="a1"></p>
    <p class="bb"><b>Street address  <span class="cc">*</span></b></p>
    <p class="all" data="Street address"><input type="text" name="street"  class="zz" id="a2"></p>
    <p class="bb"><b>City <span class="cc">*</span></b></p>
    <p class="all" data="City"><input type="text" name="city"  class="zz" id="a3"></p>
    <p class="bb"><b>Province or state  <span class="cc">*</span></b></p>
    <p class="all" data="Province or state"><input type="text" name="state"  class="zz" id="a4"></p>
    <p class="bb"><b>Country  <span class="cc">*</span></b></p>
    <p class="all" data="Country"><input type="text" name="country"  class="zz" id="a5"></p>
    <p class="bb"><b>Postal or zip code  <span class="cc">*</span></b></p>
    <p class="all" data="Postal or zip code"><input type="text" name="code"  class="zz" id="a6"></p>
    <div class="in" id="sub" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>

    <div id="kn-modal-bg-1" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add a new option</h1>
    <div class="delete close-modal1"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <input type="text" class="input" name="name1" id="post"></div>
    <div class="in" id="sub1" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>
    
    <div id="kn-modal-bg-2" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add Sender</h1>
    <div class="delete close-modal2"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <p class="bb"><b>Relationship with customer  <span class="cc">*</span></b></p>
    <p class="all" data='Street address '><input type="text" name="namea"  class="zz" id="b1"></p>
    <p class="bb"><b>First name  <span class="cc">*</span></b></p>
    <p class="all" data='Postal or zip code '><input type="text" name="nameb"  class="zz" id="b2"></p>
    <p class="bb"><b>Last Name<span class="cc">*</span></b></p>
    <p><input type="text" name="namec"  class="zz" id=""></p>
    <p class="bb"><b>Initials</b></p>
    <p class="all" data='Country'> <input type="text" name="named"  class="zz" id="b3"></p>
    <p class="bb"><b>Street addresse</b></p>
    <p><input type="text" name="namee"  class="zz" id="b4"></p>
    <p class="bb"><b>City</b></p>
    <p><input type="text" name="namef"  class="zz" id="b5"></p>
    <p class="bb"><b>Province or state</b></p>
    <p><input type="text" name="nameg"  class="zz" id="b6"></p>
    <p class="bb"><b>Postal code</b></p>
    <p><input type="text" name="nameh"  class="zz" id="b7"></p>
    <p class="bb"><b>Country</b></p>
    <p><input type="text" name="namei"  class="zz" id="b8"></p>
    <p class="bb"><b>Date of birth</b></p>
    <p><input type="text" name="namel"  class="zz" id="b9"></p>
    <p class="bb"><b>Occupation</b></p>
    <p><input type="text" name="namek"  class="zz" id="b10"></p>
    <p class="bb"><b>ID Type</b></p>
    <p><input type="text" name="city"  class="zz" id="b11"></p>
    <div class="in" id="sub2" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>
    
    <div id="kn-modal-bg-3" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add a new option</h1>
    <div class="delete close-modal3"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <input type="text" class="input" name="name" id="p1"></div>
    <div class="in" id="sub3" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>
    
     <div id="kn-modal-bg-4" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add a new option</h1>
    <div class="delete close-modal4"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <input type="text" class="input" name="name" id="p2"></div>
    <div class="in" id="sub4" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>

    <div id="kn-modal-bg-5" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add a new option</h1>
    <div class="delete close-modal5"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <input type="text" class="input" name="name" id="p3"></div>
    <div class="in" id="sub5" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>
    
    <div id="kn-modal-bg-6" class="kn-modal-bg none" style="top: 0px; z-index: 2000; ">
    <div class="kn-modal small" style="display: block;"><header class="modal-card-head">
    <h1 class="modal-card-title">Add a new option</h1>
    <div class="delete close-modal6"></div></header>
    <section class="modal-card-body"><div id="kn-add-option" class="kn-modal-wrapper kn-view kn-form">
    <div class="kn-input kn-view">
    <input type="text" class="input" name="name" id="p4"></div>
    <div class="in" id="sub6" style="text-align: center;line-height:32px">submit</div>
    </div></section>
    </div>
    </div>

  <script>
$(function(){
    $('#bth').click(function(){
    $('#kn-modal-bg-0').toggleClass('none');    
    
})
$('.close-modal').click(function(){
    $('#kn-modal-bg-0').toggleClass('none');    
})
}) 
$('#sub').click(function(){
    var name=$('#a1').val();
    var street=$('#a2').val();
    var city=$('#a3').val();
    var state=$('#a4').val();
    var country=$('#a5').val();
    var code=$('#a6').val();
    var num=$('#view_50-field_274 option').length-1;
    var num2=parseInt($('#view_50-field_274 option').eq(num).attr('value'))+1;

    $.ajax({
        url:'/bank/insert',
        dataType:'json',
        type:'post',
        data:{
         name:name,
         street:street,
         city:city,
         state:state,
         country:country,
         code:code  
        },
        success:function(){
            $('#kn-modal-bg-0').addClass('none');
            
            $('#view_50-field_274').append("<option value="+num2+">"+name+street+city+state+"</option>")
           
        }
    })
})

$(function(){
    $('#bth1').click(function(){
    $('#kn-modal-bg-1').toggleClass('none');    
    
})
$('.close-modal1').click(function(){
    $('#kn-modal-bg-1').toggleClass('none');    
})
}) 
$('#sub1').click(function(){
    var name1=$('#post').val();
    console.log("name1");
    var num=$('#view_50-field_9 option').length-1;
    var num2=parseInt($('#view_50-field_9 option').eq(num).attr('value'))+1;

    $.ajax({
        url:'/tran/types',
        dataType:'json',
        type:'post',
        data:{
         name1:name1  
        }, 
        success:function(){
           
            $('#kn-modal-bg-1').addClass('none');
            $('#view_50-field_9').append("<option value="+num2+">"+name1+"</option>")
                    }
    })
})

$(function(){
    $('#bth2').click(function(){
    $('#kn-modal-bg-2').toggleClass('none');    
    
})
$('.close-modal2').click(function(){
    $('#kn-modal-bg-2').toggleClass('none');    
})
}) 
$('#sub2').click(function(){
    var namea=$('#b1').val();
    var nameb=$('#b2').val();
    var namec=$('#b3').val();
    var named=$('#b4').val();
    var namee=$('#b5').val();
    var namef=$('#b6').val();
    var nameg=$('#b7').val();
    var nameh=$('#b8').val();
    var namei=$('#b9').val();
    var namek=$('#b10').val();
    var namel=$('#b11').val();
    var num=$('#view_50-field_7 option').length-1;
    var num2=parseInt($('#view_50-field_7 option').eq(num).attr('value'))+1;
    $.ajax({
        url:'/home/ins',
        dataType:'json',
        type:'post',
        data:{
         namea:namea,
         nameb:nameb,
         namec:namec,
         named:named,
         namee:namee,
         namef:namef,
         nameg:nameg,
         nameh:nameh,
         namei:namei,
         namek:namek, 
         namel:namel
        },
        success:function(){
            $('#kn-modal-bg-2').addClass('none');
            $('#view_50-field_7').append("<option value="+num2+">"+nameb+namec+"</option>")
        }
    })
})

$(function(){
    $('#bth3').click(function(){
    $('#kn-modal-bg-3').toggleClass('none');    
    
})
$('.close-modal3').click(function(){
    $('#kn-modal-bg-3').toggleClass('none');    
})
}) 
$('#sub3').click(function(){
    var name=$('#p1').val();
    var num=$('#view_50-field_8 option').length-1;
    var num2=parseInt($('#view_50-field_8 option').eq(num).attr('value'))+1;

    $.ajax({
        url:'/tran/typex',
        dataType:'json',
        type:'post',
        data:{
         name3:name  
        },
        success:function(){
            $('#kn-modal-bg-3').addClass('none');
            $('#view_50-field_8').append("<option value="+num2+">"+name+"</option>")
        }
    })
})

$(function(){
    $('#bth4').click(function(){
    $('#kn-modal-bg-4').toggleClass('none');    
    
})
$('.close-modal4').click(function(){
    $('#kn-modal-bg-4').toggleClass('none');    
})
}) 
$('#sub4').click(function(){
    var name=$('#p2').val();
    var num=$('#view_50-field_14 option').length-1;
    var num2=parseInt($('#view_50-field_14 option').eq(num).attr('value'))+1;

    $.ajax({
        url:'/tran/typea',
        dataType:'json',
        type:'post',
        data:{
         name3:name  
        },
        success:function(){
            $('#kn-modal-bg-4').addClass('none');
            $('#view_50-field_14').append("<option value="+num2+">"+name+"</option>")
        }
    })
})

$(function(){
    $('#bth5').click(function(){
    $('#kn-modal-bg-5').toggleClass('none');    
    
})
$('.close-modal5').click(function(){
    $('#kn-modal-bg-5').toggleClass('none');    
})
}) 
$('#sub5').click(function(){
    var name=$('#p3').val();
    var num=$('#view_50-field_13 option').length-1;
    var num2=parseInt($('#view_50-field_13 option').eq(num).attr('value'))+1;

    $.ajax({
        url:'/tran/typex',
        dataType:'json',
        type:'post',
        data:{
         name5:name  
        },
        success:function(){
            $('#kn-modal-bg-5').addClass('none');
            $('#view_50-field_13').append("<option value="+num2+">"+name+"</option>")
        }
    })
})

$(function(){
    $('#bth6').click(function(){
    $('#kn-modal-bg-6').toggleClass('none');    
    
})
$('.close-modal6').click(function(){
    $('#kn-modal-bg-6').toggleClass('none');    
})
}) 
$('#sub6').click(function(){
    var name=$('#p4').val();
    var num=$('#view_50-field_275 option').length-1;
    var num2=parseInt($('#view_50-field_275 option').eq(num).attr('value'))+1;
    
    $.ajax({
        url:'/tran/typek',
        dataType:'json',
        type:'post',
        data:{
         name6:name  
        },
        success:function(){
            $('#kn-modal-bg-6').addClass('none');
            $('#view_50-field_275').append("<option value="+num2+">"+name+"</option>")
        }
    })
})


</script>
<script type="text/javascript">
$('.inp').click(function(){
    var html='';
    $('.all').each(function(){
        if($(this).find('input').val()==''){
            var index=$(this).index();
            index =index-1;
            var html2=$(this).attr('data');
            $('.kn-message').css('display','block');
            html+=html2+" is required.</br>";
            
            $('.form').attr('data','1');
            $(this).find('input').css('border','solid 1px red')
        }else{
            $(this).find('input').css('border','solid 1px #DCDCDC')
        }
        $('.kn-message').html(html);
    })

    if($('.form').attr('data')=='1'&&$('.kn-message br').length!=0){
    
        return false;
    }
})
$('.select').click(function(){
    console.log($(this).attr('selected'))
    if($(this).val()=='8'){
        $('.no').removeClass('none');
    }else{
        $('.no').addClass('none');
    }
})
</script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $("#datepicker").datepicker();
     $("#datepicker2").datepicker();
     function p(s) {
        return s < 10 ? '0' + s: s;
    }

    var myDate = new Date();
    //获取当前年
    var year=myDate.getFullYear();
    //获取当前月
    var month=myDate.getMonth()+1;
    //获取当前日
    var date=myDate.getDate(); 
    var h=myDate.getHours();       //获取当前小时数(0-23)
    var m=myDate.getMinutes();     //获取当前分钟数(0-59)
    var s=myDate.getSeconds();  

    var now=year+'-'+p(month)+"-"+p(date)+" "+p(h)+':'+p(m)+":"+p(s);
     if(h>12){
        h=h-12;
        $('#time').val(h+":"+s+"pm")
     }else{
         $('#time').val(h+":"+s+"am")
     }
     $('#datepicker').val(month+"/"+date+"/"+year);
      });

  </script>
  <!-- <script type="text/javascript" src="/index/lib/jquery/1.9.1/jquery.min.js"></script>  -->
  <!--请在下方写此页面业务相关的脚本--> 
  <script type="text/javascript" src="/index/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
  <script type="text/javascript" src="/index/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
  <script type="text/javascript" src="/index/lib/laypage/1.2/laypage.js"></script> 
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</body>

    
    

{/block}