{extend name="public:index"}
{block name="title"}{$pageTitle}{/block}
{block name="head"}

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{/block}
{block name="index"}
<p class="aa"><a href="/transactions/index">Transactions</a>><a href="#">{$pageTitle}</a></p>
<h4><b>{$pageTitle}</b></h4>

<div id="customerBlock">
    <h5 class="bg-info">Customer account</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Customer ID
            </div>
            <div class="col mb-1">
                {$data->customer->cust_no}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Customer role
            </div>
            <div class="col mb-1">
                {$data->cust_role_str}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Date of birth
            </div>
            <div class="col mb-1">
                {$data->customer->date_of_birth}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Last name
            </div>
            <div class="col mb-1">
                {$data->customer->last_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                First name
            </div>
            <div class="col mb-1">
                {$data->customer->first_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Initials
            </div>
            <div class="col mb-1">
                {$data->customer->initials}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->customer->address}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->customer->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->customer->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->customer->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->customer->country}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone 1
            </div>
            <div class="col mb-1">
                {$data->customer->phone1}({$data->customer->phone1_type})
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone 2
            </div>
            <div class="col mb-1">
                <?php if($data->customer->phone2 != null){?>
                {$data->customer->phone2}({$data->customer->phone2_type})
                <?php }?>
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Email
            </div>
            <div class="col mb-1">
                {$data->customer->email}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document type
            </div>
            <div class="col mb-1">
                {$data->customer->docType->name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document number
            </div>
            <div class="col mb-1">
                {$data->customer->doc_no}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Expiration date
            </div>
            <div class="col mb-1">
                {$data->customer->expire_date}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Place of issue
            </div>
            <div class="col mb-1">
                {$data->customer->issue_place}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Frequency
            </div>
            <div class="col mb-1">
                {$data->customer->frequency}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Average amount
            </div>
            <div class="col mb-1">
                {$data->customer->ave_amt}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Occupation
            </div>
            <div class="col mb-1">
                {$data->customer->occupation}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Purpose
            </div>
            <div class="col-6 mb-1">
                {$data->customer->purpose}
            </div>
        </div>
    </div>

</div>

<div id="transactionBlock">
    <h5 class="bg-info">Transaction details</h5>
    <div class="container">

        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Trans number
            </div>
            <div class="col mb-1">
                {$data->trans_num}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Trans date
            </div>
            <div class="col mb-1">
                {$data->trans_date}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Trans time
            </div>
            <div class="col mb-1">
                {$data->trans_time}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Settlement date
            </div>
            <div class="col mb-1">
                {$data->settlement_date}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Location
            </div>
            <div class="col mb-1">
                {$data->location}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Tran type
            </div>
            <div class="col mb-1">
                {$data->trans_type}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Amount in
            </div>
            <div class="col mb-1">
                {$data->amount_in_str}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Currency in
            </div>
            <div class="col mb-1">
                {$data->curr_in}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Method in
            </div>
            <div class="col mb-1">
                {$data->method_in}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Amount out
            </div>
            <div class="col mb-1">
                {$data->amount_out}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Currency out
            </div>
            <div class="col mb-1">
                {$data->curr_out}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Method out
            </div>
            <div class="col mb-1">
                {$data->method_out}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                CAD amount
            </div>
            <div class="col mb-1">
                {$data->cad_amount}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Rate
            </div>
            <div class="col-6 mb-1">
                {$data->rate}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Fees
            </div>
            <div class="col mb-1">
                {$data->fee}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Fees method
            </div>
            <div class="col mb-1">
                {$data->fee_method}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Fee notes
            </div>
            <div class="col mb-1">
                {$data->fee_notes}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Purpose
            </div>
            <div class="col mb-1">
                {$data->purpose}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Source
            </div>
            <div class="col-6 mb-1">
                {$data->source}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Notes
            </div>
            <div class="col mb-1">
                {$data->notes}
            </div>
        </div>
    </div>
</div>

<?php if ($data->cust_role === "B"){?>
<div id="senderBlock">
    <h5 class="bg-info">Sender info</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Relationship with beneficiary
            </div>
            <div class="col mb-1">
                {$data->sender_relation}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Last name
            </div>
            <div class="col mb-1">
                {$data->sender->last_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                First name
            </div>
            <div class="col mb-1">
                {$data->sender->first_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Initials
            </div>
            <div class="col mb-1">
                {$data->sender->initials}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->sender->address}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->sender->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->sender->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->sender->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->sender->country}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone
            </div>
            <div class="col mb-1">
                {$data->sender->phone1}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Occupation
            </div>
            <div class="col mb-1">
                {$data->sender->occupation}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Date of birth
            </div>
            <div class="col mb-1">
                {$data->sender->date_of_birth}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document type
            </div>
            <div class="col mb-1">
                {$data->sender->docType->name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document number
            </div>
            <div class="col-6 mb-1">
                {$data->sender->doc_no}
            </div>
        </div>
    </div>
</div>
<?php }?>

<?php if ($data->has_sender_third === "true") {?>
<div id="senderThirdBlock">
    <h5 class="bg-info">Sender's third party info</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Relationship with sender
            </div>
            <div class="col mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Last name
            </div>
            <div class="col mb-1">
                {$data->sender_third->last_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                First name
            </div>
            <div class="col mb-1">
                {$data->sender_third->first_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Initials
            </div>
            <div class="col mb-1">
                {$data->sender_third->initials}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->sender_third->address}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->sender_third->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->sender_third->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->sender_third->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->sender_third->country}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone
            </div>
            <div class="col mb-1">
                {$data->sender_third->phone1}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Occupation
            </div>
            <div class="col mb-1">
                {$data->sender_third->occupation}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Date of birth
            </div>
            <div class="col mb-1">
                {$data->sender_third->date_of_birth}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document type
            </div>
            <div class="col mb-1">
                {$data->sender_third->docType->name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document number
            </div>
            <div class="col-6 mb-1">
                {$data->sender_third->doc_no}
            </div>
        </div>
    </div>
</div>
<?php }?>

<?php if ($data->cust_role === "S"){?>
<div id="benBlock">
    <h5 class="bg-info">Beneficiary info</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Relationship with sender
            </div>
            <div class="col mb-1">
                {$data->ben_relation}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Last name
            </div>
            <div class="col mb-1">
                {$data->ben->last_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                First name
            </div>
            <div class="col mb-1">
                {$data->ben->first_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Initials
            </div>
            <div class="col mb-1">
                {$data->ben->initials}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->ben->address}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->ben->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->ben->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->ben->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->ben->country}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone
            </div>
            <div class="col mb-1">
                {$data->ben->phone1}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Occupation
            </div>
            <div class="col mb-1">
                {$data->ben->occupation}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Date of birth
            </div>
            <div class="col mb-1">
                {$data->ben->date_of_birth}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document type
            </div>
            <div class="col mb-1">
                {$data->ben->docType->name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document number
            </div>
            <div class="col-6 mb-1">
                {$data->ben->doc_no}
            </div>
        </div>
    </div>
</div>
<?php }?>

<?php if ($data->has_ben_third === "true") {?>
<div id="benThirdBlock">
    <h5 class="bg-info">Beneficiary's third party info</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Relationship with beneficiary
            </div>
            <div class="col mb-1">
                {$data->ben_third_relation}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Last name
            </div>
            <div class="col mb-1">
                {$data->ben_third->last_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                First name
            </div>
            <div class="col mb-1">
                {$data->ben_third->first_name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Initials
            </div>
            <div class="col mb-1">
                {$data->ben_third->initials}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->ben_third->address}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->ben_third->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->ben_third->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->ben_third->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->ben_third->country}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Phone
            </div>
            <div class="col mb-1">
                {$data->ben_third->phone1}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Occupation
            </div>
            <div class="col mb-1">
                {$data->ben_third->occupation}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Date of birth
            </div>
            <div class="col mb-1">
                {$data->ben_third->date_of_birth}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document type
            </div>
            <div class="col mb-1">
                {$data->ben_third->docType->name}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Document number
            </div>
            <div class="col-6 mb-1">
                {$data->ben_third->doc_no}
            </div>
        </div>
    </div>
</div>
<?php }?>

<?php if ($data->has_bank === "true") {?>
<div id="bankBlock">
    <h5 class="bg-info">Financial institution</h5>
    <div class="container">
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Bank account number
            </div>
            <div class="col mb-1">
                {$data->account_no}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Bank name
            </div>
            <div class="col mb-1">
                {$data->bank->name}
            </div>
        </div>
        <div class="row">
            <div class="col-2 shadow-sm mb-1 bg-light rounded font-weight-bold">
                Address
            </div>
            <div class="col-6 mb-1">
                {$data->bank->street}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Postal code
            </div>
            <div class="col mb-1">
                {$data->bank->postal_code}
            </div>
        </div>
        <div class="row">
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                City
            </div>
            <div class="col mb-1">
                {$data->bank->city}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Province
            </div>
            <div class="col mb-1">
                {$data->bank->province}
            </div>
            <div class="col shadow-sm mb-1 bg-light rounded font-weight-bold">
                Country
            </div>
            <div class="col mb-1">
                {$data->bank->country}
            </div>
        </div>
    </div>
</div>
<?php }?>
<!--TODO AML quesiton-->

<div class="kn-section-break"></div>
<p class="text-center">
    <a class="btn btn-primary">Edit</a>
</p>
{/block}
{block name="footer"}
<script>


</script>

{/block}