{extend name="public:index"}
{block name="title"}Support{/block}
{block name="index"}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
<style>
	.aa a{color:blue;}
	.zz{width:450px;height:25px;border:1px solid #DCDCDC;}
	.zz:focus{outline:none; border: 1px solid #9BD6EB;}
	.bb{margin:10px 0px}
	.cc{color:red;}
	.dd a{color:blue;}
	.select{width:450px;height:25px;}
	.o{color:red;}
	.inp{width:100px;height:30px;background-color:#17427A;color:white;border:0px;}
</style>
</head>
<body>
	<h4><b>Create a new ticket</b></h4>
	<p><a href="/support/delete/id/{$data['id']}" class="o">delete</a><span></p>
	<form class="form form-horizontal" id="form-admin-add" action="/support/update" method="post" enctype="multipart/form-data">
	<p class="bb"><b>Issue   <span class="cc">*</span></b></p>
	<p>Describe the technical issue or share your feedback with the developers</p>
	<p><textarea rows="7" cols="100" name="descibe">{$data['descibe']}</textarea></p>
	<p class="bb"><b>Nature   <span class="cc">*</span></b></p>
	<p><select data-placeholder="Select" id="view_50-field_322" name="type" style="vertical-align: bottom;" class="select">
    
        <option value="Design Improvement Request" {if condition="$data['type']==1"}selected{/if}>Design Improvement Request</option>
    
        <option value="Bug" {if condition="$data['type']==2"}selected{/if}>Bug</option>
    </select></p>
    <p>A bug hinders the basic functionality of the system. It must be fixed. Otherwise, management cannot use the system. A bug compromises AML compliance. A design improvement request is a desired enhancement. If this issue is not addressed, system can still be used to meet the basic objectives. A design improvement request has no impact on AML compliance. Note: Bugs will be fixed on a timely manner. Design improvement requests will be addressed depending on the impact and the amount of work required. Some requests can be addressed right away and others can be postponed to a later time or not addressed.</p>
    <p>File</p>
    <p><input type="file" name="file"></p>
    <p class="bb"><b>Nature   </b></p>
	<p><select data-placeholder="Select" id="view_212-field_206" name="types" style="vertical-align: bottom;" class="select">
    
        <option value="Open" {if condition="$data['types']==1"}selected{/if}>Open</option>
    
        <option value="Closed" {if condition="$data['types']==2"}selected{/if}>Closed</option>
   </select></p>
    <p><input type="submit" value="submit" class="inp"></p>

 {/block}